@media screen and (max-width: 650px) {
    .nav{
        z-index: 10;
    }
    .links{
        display: none;
    }
    .headings{
        margin-left: auto;
    }
    .links-phone{
        margin-top: -130px;
        overflow: hidden;
        z-index: -10;
        display: block;
    transition: all 2s ease;
        width: 100%;
        a{
            text-decoration: none;
            color: black;
            font-size: 25px;
            padding: 10px;
            margin: 5px;
        }
        text-align: center;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        .menu{
            background-color: rgb(255, 74, 3);
            color: white;
            border-bottom-right-radius: 5px;
            border-bottom-LEFT-radius: 5px;
            padding: 5px;
        }
        
      }
      .links-phone:hover{
        margin-top: 0px;
      }
  }

