*{
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.nav{
    padding: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.384);
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;


    .logo{
        img{
            width: 50px;
        }
    }
    .headings{
        font-size: 30px;
    }
    .links{
        margin-left: auto;
        margin-right: auto;
        max-width: fit-content;
        a{
            text-decoration: none;
            color: black;
            margin: 0 15px;
            font-size: 18px;
            transition: 0.3s;
        }
        a:hover{
            color: #007BFF;
        }
    }
}
.links-phone{
    display: none;
}

.hero p{
    font-size: 50px;
    margin-top: 100px;
}
.hero img{
    width: 100px;
}
.videos iframe{
    width: 300px;
    height: 200px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.384);
    margin: 20px;
}
.footer{
    background-color: rgb(255, 74, 3);
    color: white;
    padding: 20px;
}